body {
    background: url('../assets/images/monkey-bg-normal.jpg')repeat center;
    color: #eee;
}

.slide {
    /*background: url('../assets/images/fabric_plaid.png') repeat center;*/
    background-color: white;
    box-shadow: 0 0 3px 3px #c9c2b0;
    -webkit-box-shadow: 0 0 2px 2px #c9c2b0;

    /*border-radius: 15px;*/
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/

}

.imgContainer{

}

.image{
}



