body {
    background: url('../assets/images/monkey-bg-normal.jpg')repeat center;
    color: #eee;
}

.slide {
    background: url(../assets/images/cream_dust.png) repeat center;
    box-shadow: 0 0 3px 3px #c9c2b0;
    -webkit-box-shadow: 0 0 2px 2px #c9c2b0;
}

.imgContainer{

}

.image{
}



