body {
    background: url('../assets/images/bg_tile_dark.jpg');
    color: #eee;
}

.slide {
    background: url('../assets/images/fabric_plaid.png') repeat center;

    box-shadow: 0 0 4px 4px #969696;
    -webkit-box-shadow: 0 0 4px 4px #c1c1c1;

    border-radius: 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

}

.imgContainer{

}

.image{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}



