/**
 * 15-237 Unit Project
 * Nidhi Doshi (npdoshi)
 * Dhaval Shah (dhavals)
 */

#basic-modal-content {
    display: none;
}

/* Overlay */
#simplemodal-overlay {
    background-color: #000;
    cursor: auto;
}

/* Container */
#simplemodal-container {
    position: absolute;
    height: 160px;
    width: 300px;
    color: #bbb;
    background: url('../assets/images/monkey-bg-normal.jpg') repeat center;
    padding: 12px;
    border-radius: 30px;
    text-align: center;
}

#myCanvas2{
    postion:absolute;
}

