#basic-modal-content {
    display: none;
}

/* Overlay */
#simplemodal-overlay {
    background-color: #000;
    cursor: auto;
}

/* Container */
#simplemodal-container {
    height: 160px;
    width: 350px;
    color: #bbb;
    background: url('../assets/images/monkey-bg-normal.jpg') repeat center;
    padding: 12px;
    border-radius: 30px;

    text-align: center;
}
