/**
 * 15-237 Unit Project
 * Nidhi Doshi (npdoshi)
 * Dhaval Shah (dhavals)
 */


/* Eric Meyer's CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Stops here */



.image {
    width: 100%;
}

body {

}

.roundabout-holder {
    top: 80px;
    padding: 0;
    margin: 0 auto;
    height: 400px;
    width: 870px;
}

.roundabout-moveable-item {
    height: 400px;
    width: 370px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.imgContainer {
    padding: 00px;
    padding-top: 20px;
    border-top: 1px solid #c9c2b0;
    height: 60%;
    margin-top: 16.1%;
    overflow: hidden;
}

.roundabout-in-focus .imgContainer {
    padding: 00px;
    padding-top: 20px;
    border-top: 1px solid #c9c2b0;
    height: 60%;
    margin-top: 0%;
    overflow: hidden;
}

.roundabout-moveable-item .imgContainer .image {
    height: auto;
    width: 100%;
    background-color: white;
    overflow: hidden;
    -webkit-transition: all 0s ease-in-out 0s; /* this is so all properties animate
back to default */
    -moz-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
    margin: 0 0 20px 0;
}

.roundabout-in-focus {
    cursor: auto;
}

.contentTitle{
    margin: 0px;
    height: 15%;
    padding: 0px;
    color: #a62121;
    font-family: 'Droid Sans', sans-serif;
    display: none;
    overflow: hidden;
}


.roundabout-in-focus .contentTitle{
    margin: 0px;
    height: 15%;
    padding: 0px;
    display:block;
    color: #ca3a0e;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 19px;
    overflow: auto;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.title{
    margin: 0px;
    padding: 0px;
}

.comment{
    margin-top: 20px;
    height: 0%;
    width: 100%;
    padding: 0px;
    padding-top: 10px;
    border-top: 1px solid #c9c2b0;
    color: #9d4a42;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    display:hidden;
    overflow: hidden;

}


.roundabout-in-focus .comment{
    margin-top: 20px;
    height: 15%;
    border-top: 1px solid #c9c2b0;
    padding-top: 10px;
    color: #ca3a0e;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 14px;
    overflow: auto;
    -webkit-transition: all 0s ease-in-out 0s; /* this is so all properties animate back to default */
    -moz-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
}

h2{
    margin: 0px;
    padding: 0px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#myCanvas1{
    position: absolute;
}

#changeSubReddit{
    position: absolute;
    top: 20px;
    right: 20px;
}

#footer{
    background: url('../assets/images/city_footer.png') repeat center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
}

#submitButton2{
    font:normal 15px "Carrois Gothic", cursive, sans-serif;
    font-style:normal;
    color:#7b7b7b;
    background:#f5f5f5;
    border:1px solid #bbb;
    box-shadow:-2px 1px 10px #d1cfd1;
    -moz-box-shadow:-2px 1px 10px #d1cfd1;
    -webkit-box-shadow:-2px 1px 10px #d1cfd1;
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    width:150px;
    padding:5px 16px;
    cursor:pointer;
    margin:0 auto;
}

#submitButton2:hover{
    cursor:pointer;
    position:relative;
    top:1px;
}

#submitButton2:active{
    cursor:pointer;
    position:relative;
    top:2px;
}


.commentLink{
    display: none;
}


.roundabout-in-focus:hover .commentLink{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 105px;
    right: 24px;
    padding: 0;
    margin: 0;
    display: block;
}

.commentImage{
    width: 100%;
    height: 100%;
    display: none;
}


.roundabout-in-focus:hover .commentImage{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.8;
}


#nonFirefox{
    color: #000000;
    font: "Droid Sans";
    font-size: 30px;
    height: 20px;
    width: 1000px;
    position: relative;
    text-align: center;
    margin-top: 520px;
    margin-left: 305px;
}