


#outer{
    padding-top: 15px;
}


#images{
    position: relative;
    max-width: 600px;
    max-height: 400px;
    margin: 0 auto;
    text-align: center;

}



#images img{
    max-height: 400px;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
}